body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #786d72;
    margin: 20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

fieldset {
    background-color: rgb(137, 135, 135);
    border: 3px solid #ccc;
    border-radius: 10px;
}


label{
    display: flex;
    font-size: 1.5em;     
    margin-bottom:1px;
    font-family: ui-sans-serif;
}

input[type="text"], input[type="date"], input[type="number"], input[type="radio"] {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: rgb(137, 135, 135);
}

input[type="button"] {
    background-color: rgb(130, 117, 201);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
}

#AdicionarAluno:hover{
    background-color: #16e621;

}

#ExcluirAluno:hover{
    background-color: #16e621;
}

#ExcluirNomes:hover{
    background-color:  #16e621;
}

button {

    background-color: #7c82ff;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #739ac5;
}

